.mainWeatherBlock {
  margin: 0;
  padding: 0;
  background-color: Black;
  width: 100%;
  height: 100vh;
}
.weatherContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 0;
  background-color: white;
  border-radius: 18px;
}
.inputBlock {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.inputBlock input {
  background-image: url("./image/9803556.png");
  background-size: 2vw;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 18px;
  border: 2px solid black;
  width: 80%;
  height: 30px;
  font-size: 24px;
  padding: 10px 60px;
  margin: 10px 0 10px;
}
.inputBlock button {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 35px;
  transition: 0.3s ease-out;
  height: 50px;
  background-color: rgb(9, 84, 223);
}
.inputBlock button:hover {
  cursor: pointer;
  background-color: rgb(52, 122, 252);
}
.inputBlock img {
  display: flex;
  height: 40px;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.weatherDataStyle {
  // background-color: blue;
  border-radius: 0 0 18px 18px;
  width: 100%;
  animation: 1s weather-fade forwards;
  text-align: center;
}
.weatherDataStyle span {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-out;
}
.temperatureStyle img {
  width: 60px;
}

.temperatureStyle h3 {
  margin: 0;
  font-weight: 500;
}
.humiditiStyle {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.humiditiStyle img {
  width: 35px;
  margin: 0 20px 0;
}
.backgroundImage {
  position: absolute;
  height: 81%;
  display: block;
  border-radius: 0 0 18px 18px;
  z-index: -1;
  width: 100%;
}
.temperatureStyle button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.52);
  font-size: 25px;
  margin: 20px 0 0 0;
  color: rgb(0, 89, 255);
  text-shadow: 0 0 2px #000000;
  font-weight: 700;
  border-radius: 15px;
}
.temperatureStyle button:hover {
  cursor: pointer;
}
.temperatureStyle {
  text-shadow: 0 0 1px #000000;
  font-weight: 700;
}
.closeInfo {
  animation: 1s closeBlock forwards;
}

.mainInfo {
  height: 0px;
  width: 100%;
  animation: 1s fullBlockOpen forwards;
}
@keyframes fullBlockOpen {
  to {
    height: 300px;
  }
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeBlock {
  0% {
    height: 300px;
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

@media screen and (max-width: 1440px) {
  .temperatureStyle {
    font-size: 20px;
  }
  .inputBlock input {
    padding: 10px 20px;
    font-size: 15px;
    padding: 10px 40px;
  }
  .weatherContent {
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  .weatherContent {
    width: 90%;
  }
  .inputBlock img {
    height: 20px;
  }
  .inputBlock button {
    height: 30px;
  }
  .inputBlock input {
    padding: 10px 20px;
    height: 10px;
  }
  .backgroundImage {
    height: 85%;
  }
}
