.mainWeatherBlock {
  margin: 0;
  padding: 0;
  background-color: Black;
  width: 100%;
  height: 100vh;
}
.weatherContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 0;
  background-color: white;
  border-radius: 18px;
}
.inputBlock {
  display: flex;
  width: 90%;
  animation: 2s linear;
  margin: 0 auto;
}
.inputBlock input {
  background-image: url("./image/9803556.png");
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 18px;
  border: 2px solid black;
  width: 80%;
  height: 50px;
  font-size: 24px;
  padding: 10px 60px;
  margin: 10px 0 10px;
}
.inputBlock button {
  margin: 10px 0 0 10px;
  border: none;
  border-radius: 35px;
  transition: 0.3s ease-out;
  height: 70px;
  background-color: rgb(9, 84, 223);
}
.inputBlock button:hover {
  cursor: pointer;
  background-color: rgb(52, 122, 252);
}
.inputBlock img {
  display: flex;
  height: 60px;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.weatherDataStyle {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  border-radius: 0 0 18px 18px;
  text-align: center;
}
.weatherDataStyle img {
  width: 60px;
}
.weatherDataStyle span {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-out;
}
.temperatureStyle {
  display: flex;
  margin: 20px 0;
}
.temperatureStyle span {
  font-size: 25px;
}
.temperatureStyle h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.humiditiStyle {
  display: flex;
  justify-content: space-around;

  align-items: center;
}
.humiditiStyle img {
  width: 35px;
  margin: 0 20px 0;
}
